<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyexcel.mapper.JobMapper">
    <insert id="batchSave" parameterType="Job">
        insert into Job(job,salary,entry_date)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.job},#{item.salary},#{item.entryDate})
        </foreach>

    </insert>
</mapper>