<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyexcel.mapper.PersonMapper">
    <select id="queryPersonList" resultType="Person">
        select name,sex,age,save_money  from person
    </select>
    <insert id="batchSave" parameterType="Person">
        insert into person(name,sex,age,save_money)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.name},#{item.sex},#{item.age},#{item.saveMoney})
        </foreach>

    </insert>
</mapper>